In [29]:
import pandas as pd
from datetime import date, datetime

In [30]:
path="C:\\Users\\Bakir\\Desktop\\MlAIM\\POWERBI\\devoir1\\MLAIM.csv"
df=pd.read_csv(path)
df

                    Nom              Prenom Date_Naissance Ville_Naissance
0            ACHEHBOUNE             YOUSSEF     09/03/2000             FES
1              AIT IDAR           ABDELAALI     2003-12-08           RABAT
2                AZROUL      MOHAMED KHALIL    28-Jun-1994             FES
3               AZZAOUI               HOUDA     11/25/2002          TANGER
4               AZZOUZI             WASSIMA     10.19.2003          DAKHLA
5                 BAKIR            MOHAMMED       08/08/99          MEKNES
6              BAKKOURI               AYOUB     23/01/2004             FES
7               BOUHRIR                AYAT     01-01-2001           RABAT
8                 DAIRI                OMAR     28.02.2002          MEKNES
9              DEBBAGHI            MOHAMMED    16 May 1998             FES
10          EL BOURKADI             BOUCHRA     29/02/1992             FES
11             EL FIGHA               ILAFE     1995-10-08           NADOR
12            EL HANAFI              KHALIL            NaN             FES
13           EL IDRISSI               AYOUB       25/11/02          TANGER
14  EL IDRISSI LAOUKILI            MOHAMMED    08 Dec 2003           RABAT
15            EL KARAMI             WIJDANE       28-02-02          MEKNES
16           EL-HAJJAJI               ANASS       23/01/04             FES
17          EL-KHAIRANI              OUALID    Jun 28 1994             FES
18            ELBEKKALI              AYMANE     08/08/1999          MEKNES
19            EL GHAMCH               HAMZA     01/01/2001           RABAT
20            ELABBASSI            MOHAMMED            NaN          TANGER
21              ESSALHI            MOHAMMED     29/02/1992           RABAT
22             EZZAHIRI               WALID            NaN          MEKNES
23               FATACH             YOUSSEF     28/06/1994             FES
24              LABBOUJ            MOHAMMED            NaN             FES
25             LAMHAMDI              DOUNIA       08/08/99          MEKNES
26                LOUAH               AMMAR     25/11/2002          TANGER
27              MASROUR          ABDELHAFID     09/03/2000             FES
28               MESBAH               MALAK     08/12/2003           RABAT
29              MOUHTAJ             KHADIJA     28/06/1994             FES
30          MOUTAOUAKIL             OUMNIYA       25/11/02          TANGER
31             OUAYAZZA           ABDELAZIZ     10.19.2003          DAKHLA
32            OUEDRAOGO  WENDE BENEDO ARIEL      08-Aug-99          MEKNES
33                 RAJI              SOUMIA       23-01-04             FES
34              SAKKOUM               HAMZA     01/01/2001           RABAT
35               SMAHRI            REDOUANE     28.02.2002          MEKNES
36              SOUFANE               IMANE    16 May 1998             FES
37                TAIBA               OTMAN     20/07/2001           RABAT
38                 ZAIM             MOHAMED     19/06/1997          MEKNES
39                DAIRI                OMAR     28.02.2002          MEKNES
40           ACHEHBOUNE             YOUSSEF     09/03/2000             FES
41               MESBAH               MALAK     08/12/2003           RABAT
42            ELABBASSI            MOHAMMED            NaN          TANGER
43              AZZAOUI               HOUDA     11/25/2002          TANGER

In [31]:
#2.	Supprimer les lignes qui contiennent des valeurs vides.
df.isnull().sum()

Nom                0
Prenom             0
Date_Naissance     5
Ville_Naissance    0
dtype: int64

In [32]:
df.dropna(inplace=True)

In [33]:
df

                    Nom              Prenom Date_Naissance Ville_Naissance
0            ACHEHBOUNE             YOUSSEF     09/03/2000             FES
1              AIT IDAR           ABDELAALI     2003-12-08           RABAT
2                AZROUL      MOHAMED KHALIL    28-Jun-1994             FES
3               AZZAOUI               HOUDA     11/25/2002          TANGER
4               AZZOUZI             WASSIMA     10.19.2003          DAKHLA
5                 BAKIR            MOHAMMED       08/08/99          MEKNES
6              BAKKOURI               AYOUB     23/01/2004             FES
7               BOUHRIR                AYAT     01-01-2001           RABAT
8                 DAIRI                OMAR     28.02.2002          MEKNES
9              DEBBAGHI            MOHAMMED    16 May 1998             FES
10          EL BOURKADI             BOUCHRA     29/02/1992             FES
11             EL FIGHA               ILAFE     1995-10-08           NADOR
13           EL IDRISSI               AYOUB       25/11/02          TANGER
14  EL IDRISSI LAOUKILI            MOHAMMED    08 Dec 2003           RABAT
15            EL KARAMI             WIJDANE       28-02-02          MEKNES
16           EL-HAJJAJI               ANASS       23/01/04             FES
17          EL-KHAIRANI              OUALID    Jun 28 1994             FES
18            ELBEKKALI              AYMANE     08/08/1999          MEKNES
19            EL GHAMCH               HAMZA     01/01/2001           RABAT
21              ESSALHI            MOHAMMED     29/02/1992           RABAT
23               FATACH             YOUSSEF     28/06/1994             FES
25             LAMHAMDI              DOUNIA       08/08/99          MEKNES
26                LOUAH               AMMAR     25/11/2002          TANGER
27              MASROUR          ABDELHAFID     09/03/2000             FES
28               MESBAH               MALAK     08/12/2003           RABAT
29              MOUHTAJ             KHADIJA     28/06/1994             FES
30          MOUTAOUAKIL             OUMNIYA       25/11/02          TANGER
31             OUAYAZZA           ABDELAZIZ     10.19.2003          DAKHLA
32            OUEDRAOGO  WENDE BENEDO ARIEL      08-Aug-99          MEKNES
33                 RAJI              SOUMIA       23-01-04             FES
34              SAKKOUM               HAMZA     01/01/2001           RABAT
35               SMAHRI            REDOUANE     28.02.2002          MEKNES
36              SOUFANE               IMANE    16 May 1998             FES
37                TAIBA               OTMAN     20/07/2001           RABAT
38                 ZAIM             MOHAMED     19/06/1997          MEKNES
39                DAIRI                OMAR     28.02.2002          MEKNES
40           ACHEHBOUNE             YOUSSEF     09/03/2000             FES
41               MESBAH               MALAK     08/12/2003           RABAT
43              AZZAOUI               HOUDA     11/25/2002          TANGER

In [34]:
#3.	Supprimer les lignes en doublons.
#df.duplicated()
df.drop_duplicates(inplace=True)
df

                    Nom              Prenom Date_Naissance Ville_Naissance
0            ACHEHBOUNE             YOUSSEF     09/03/2000             FES
1              AIT IDAR           ABDELAALI     2003-12-08           RABAT
2                AZROUL      MOHAMED KHALIL    28-Jun-1994             FES
3               AZZAOUI               HOUDA     11/25/2002          TANGER
4               AZZOUZI             WASSIMA     10.19.2003          DAKHLA
5                 BAKIR            MOHAMMED       08/08/99          MEKNES
6              BAKKOURI               AYOUB     23/01/2004             FES
7               BOUHRIR                AYAT     01-01-2001           RABAT
8                 DAIRI                OMAR     28.02.2002          MEKNES
9              DEBBAGHI            MOHAMMED    16 May 1998             FES
10          EL BOURKADI             BOUCHRA     29/02/1992             FES
11             EL FIGHA               ILAFE     1995-10-08           NADOR
13           EL IDRISSI               AYOUB       25/11/02          TANGER
14  EL IDRISSI LAOUKILI            MOHAMMED    08 Dec 2003           RABAT
15            EL KARAMI             WIJDANE       28-02-02          MEKNES
16           EL-HAJJAJI               ANASS       23/01/04             FES
17          EL-KHAIRANI              OUALID    Jun 28 1994             FES
18            ELBEKKALI              AYMANE     08/08/1999          MEKNES
19            EL GHAMCH               HAMZA     01/01/2001           RABAT
21              ESSALHI            MOHAMMED     29/02/1992           RABAT
23               FATACH             YOUSSEF     28/06/1994             FES
25             LAMHAMDI              DOUNIA       08/08/99          MEKNES
26                LOUAH               AMMAR     25/11/2002          TANGER
27              MASROUR          ABDELHAFID     09/03/2000             FES
28               MESBAH               MALAK     08/12/2003           RABAT
29              MOUHTAJ             KHADIJA     28/06/1994             FES
30          MOUTAOUAKIL             OUMNIYA       25/11/02          TANGER
31             OUAYAZZA           ABDELAZIZ     10.19.2003          DAKHLA
32            OUEDRAOGO  WENDE BENEDO ARIEL      08-Aug-99          MEKNES
33                 RAJI              SOUMIA       23-01-04             FES
34              SAKKOUM               HAMZA     01/01/2001           RABAT
35               SMAHRI            REDOUANE     28.02.2002          MEKNES
36              SOUFANE               IMANE    16 May 1998             FES
37                TAIBA               OTMAN     20/07/2001           RABAT
38                 ZAIM             MOHAMED     19/06/1997          MEKNES

In [35]:
#4.	Unifier la forme des dates de la colonne "Date_Naissance".
df["Date_Naissance"]=pd.to_datetime(df["Date_Naissance"],format="mixed")
df

                    Nom              Prenom Date_Naissance Ville_Naissance
0            ACHEHBOUNE             YOUSSEF     2000-09-03             FES
1              AIT IDAR           ABDELAALI     2003-12-08           RABAT
2                AZROUL      MOHAMED KHALIL     1994-06-28             FES
3               AZZAOUI               HOUDA     2002-11-25          TANGER
4               AZZOUZI             WASSIMA     2003-10-19          DAKHLA
5                 BAKIR            MOHAMMED     1999-08-08          MEKNES
6              BAKKOURI               AYOUB     2004-01-23             FES
7               BOUHRIR                AYAT     2001-01-01           RABAT
8                 DAIRI                OMAR     2002-02-28          MEKNES
9              DEBBAGHI            MOHAMMED     1998-05-16             FES
10          EL BOURKADI             BOUCHRA     1992-02-29             FES
11             EL FIGHA               ILAFE     1995-10-08           NADOR
13           EL IDRISSI               AYOUB     2002-11-25          TANGER
14  EL IDRISSI LAOUKILI            MOHAMMED     2003-12-08           RABAT
15            EL KARAMI             WIJDANE     2002-02-28          MEKNES
16           EL-HAJJAJI               ANASS     2004-01-23             FES
17          EL-KHAIRANI              OUALID     1994-06-28             FES
18            ELBEKKALI              AYMANE     1999-08-08          MEKNES
19            EL GHAMCH               HAMZA     2001-01-01           RABAT
21              ESSALHI            MOHAMMED     1992-02-29           RABAT
23               FATACH             YOUSSEF     1994-06-28             FES
25             LAMHAMDI              DOUNIA     1999-08-08          MEKNES
26                LOUAH               AMMAR     2002-11-25          TANGER
27              MASROUR          ABDELHAFID     2000-09-03             FES
28               MESBAH               MALAK     2003-08-12           RABAT
29              MOUHTAJ             KHADIJA     1994-06-28             FES
30          MOUTAOUAKIL             OUMNIYA     2002-11-25          TANGER
31             OUAYAZZA           ABDELAZIZ     2003-10-19          DAKHLA
32            OUEDRAOGO  WENDE BENEDO ARIEL     1999-08-08          MEKNES
33                 RAJI              SOUMIA     2004-01-23             FES
34              SAKKOUM               HAMZA     2001-01-01           RABAT
35               SMAHRI            REDOUANE     2002-02-28          MEKNES
36              SOUFANE               IMANE     1998-05-16             FES
37                TAIBA               OTMAN     2001-07-20           RABAT
38                 ZAIM             MOHAMED     1997-06-19          MEKNES

In [9]:
#5.	Ajouter une nouvelle colonne nomme "Age" qui calcule l'ge des tudiants en se basant sur leurs dates de naissance "Date_Naissance".
from datetime import date

def calculer_age(date_naissance):
    aujourd_hui = date.today()
    age = aujourd_hui.year - date_naissance.year - ((aujourd_hui.month, aujourd_hui.day) < (date_naissance.month, date_naissance.day))
    return age


date_naissance = date(2002, 6, 25)
print(date_naissance)
#print("ge :", calculer_age(date_naissance))

2002-06-25

In [10]:
x = df["Date_Naissance"].iloc[2]
#date_obj = datetime.strptime(x, "%Y-%m-%d")
datenaissance=calculer_age(x )
print(datenaissance)

30

In [36]:
def calculer_age(date_naissance):
    aujourd_hui = date.today()
    age = aujourd_hui.year - date_naissance.year - ((aujourd_hui.month, aujourd_hui.day) < (date_naissance.month, date_naissance.day))
    return age

In [38]:
ages=[]
for i in range(len(df)):
    datenaissance = df["Date_Naissance"].iloc[i]
   
    age=calculer_age(datenaissance )
    ages.append(age)

ages

[24,
 21,
 30,
 22,
 21,
 25,
 21,
 24,
 23,
 26,
 33,
 29,
 22,
 21,
 23,
 21,
 30,
 25,
 24,
 33,
 30,
 25,
 22,
 24,
 21,
 30,
 22,
 21,
 25,
 21,
 24,
 23,
 26,
 23,
 27]

In [39]:
df.insert(3,"Age",ages,True)
df

,Nom,Prenom,Date_Naissance,Age,Ville_Naissance
0,ACHEHBOUNE,YOUSSEF,2000-09-03,24,FES
1,AIT IDAR,ABDELAALI,2003-12-08,21,RABAT
2,AZROUL,MOHAMED KHALIL,1994-06-28,30,FES
3,AZZAOUI,HOUDA,2002-11-25,22,TANGER
4,AZZOUZI,WASSIMA,2003-10-19,21,DAKHLA
5,BAKIR,MOHAMMED,1999-08-08,25,MEKNES
6,BAKKOURI,AYOUB,2004-01-23,21,FES
7,BOUHRIR,AYAT,2001-01-01,24,RABAT
8,DAIRI,OMAR,2002-02-28,23,MEKNES
9,DEBBAGHI,MOHAMMED,1998-05-16,26,FES
10,EL BOURKADI,BOUCHRA,1992-02-29,33,FES
11,EL FIGHA,ILAFE,1995-10-08,29,NADOR
13,EL IDRISSI,AYOUB,2002-11-25,22,TANGER
14,EL IDRISSI LAOUKILI,MOHAMMED,2003-12-08,21,RABAT
15,EL KARAMI,WIJDANE,2002-02-28,23,MEKNES
16,EL-HAJJAJI,ANASS,2004-01-23,21,FES
17,EL-KHAIRANI,OUALID,1994-06-28,30,FES
18,ELBEKKALI,AYMANE,1999-08-08,25,MEKNES
19,EL GHAMCH,HAMZA,2001-01-01,24,RABAT
21,ESSALHI,MOHAMMED,1992-02-29,33,RABAT
23,FATACH,YOUSSEF,1994-06-28,30,FES
25,LAMHAMDI,DOUNIA,1999-08-08,25,MEKNES
26,LOUAH,AMMAR,2002-11-25,22,TANGER
27,MASROUR,ABDELHAFID,2000-09-03,24,FES
28,MESBAH,MALAK,2003-08-12,21,RABAT
29,MOUHTAJ,KHADIJA,1994-06-28,30,FES
30,MOUTAOUAKIL,OUMNIYA,2002-11-25,22,TANGER
31,OUAYAZZA,ABDELAZIZ,2003-10-19,21,DAKHLA
32,OUEDRAOGO,WENDE BENEDO ARIEL,1999-08-08,25,MEKNES
33,RAJI,SOUMIA,2004-01-23,21,FES
34,SAKKOUM,HAMZA,2001-01-01,24,RABAT
35,SMAHRI,REDOUANE,2002-02-28,23,MEKNES
36,SOUFANE,IMANE,1998-05-16,26,FES
37,TAIBA,OTMAN,2001-07-20,23,RABAT
38,ZAIM,MOHAMED,1997-06-19,27,MEKNES

False